{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mb-5">Closed Listings</h2>
    <div class="row ">
        {% if listings %}
            {% for listing in listings %}
            
                <div class="card ml-5 mr-4 mb-4 mt-5" style="width: 18rem;">
                    <a href="{% url 'listing' listing.id %}">
                        <img src="{{ listing.image }}" class="card-img-top" alt="{{ product.title }}">
                        <div class="card-header">
                            <strong class="card-title">{{ listing.title }}</strong>
                        </div>
                        <div class="card-body px-3">
                        <p class="card-text">{{ listing.description|truncatechars:100 }}</p>
                        </div>
                        <div class="card-footer">
                            <p>Price : <strong>${{ listing.price }}</strong></p>
                        </div>
                    </a>
                </div>
            
            {% endfor %}
        {% else %}
            <div class="container mt-4">
                <div class="alert alert-success">
                    <p>There is not listing for this category yet!</p>
                </div>
            </div> 
        {% endif %}  
    </div>
{% endblock %}
