{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
        <div class="container mt-4">
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>                                                                                        
    {% endif %}
    
    <div class="container mt-4">
        <div class="row">
        <div class="col-md-4">
            
            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid"><br>
            {% if user.is_authenticated %}
                {%  if isWatchlist %}
                    <form action="{% url 'remove-from-watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary mt-5" type="submit">Remove From Watchlist</button>
                    </form>
                {% else %}
                    <form action="{% url 'add-to-watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary mt-5" type="submit">Add To Watchlist</button>
                    </form>
                {% endif %}
                    
                
                {% if listing.active %}
                    <form method="post" action="{% url 'place-bid' listing.id %}" class="mt-3">
                        {% csrf_token %}
                        {{ bid_form.as_p }}
                        <button type="submit" class="btn btn-primary">Place Bid</button>
                    </form>
                    {% if request.user == listing.owner %}
                        <form action="{% url 'close-auction' listing.id %}" method="post" class="mt-3">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Close Auction</button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if listing.active %}
                    <div class="container mt-4">
                        <form action="{% url 'add-comment' listing.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ comment_form.comment.id_for_label }}">Add a Comment:</label><br>
                                {{ comment_form.comment }}
                            </div>
                            <button type="submit" class="btn btn-primary">Add Comment</button>
                        </form>  
                    </div> 
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>{{ listing.title }}</h2>
            <p>{{ listing.description|truncatechars:600 }}</p>
            <p>Price: <strong>${{ listing.price }}</strong></p>
            <p>Category: <strong>{{ listing.category }}</strong> </p>
            <p>Owned_by: <strong>{{ listing.owner}}</strong> </p>
        </div>
        <div class="col-md-4">
            
        </div>
        </div>
    </div>
    
      
    <div class="list-group mt-4">
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><strong>Comments</strong></strong></h5>
            </div>
        </div>
        {% for comment in listing.comments.all %}
            <div class="list-group-item">
                <p class="mb-1">{{ comment.comment }}</p>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">by - <strong>{{ comment.user.username }}</strong></h5>
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">
                No comments yet.
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
